{% extends "house.html" %} {% block title %}Asignación de posiciones{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}

{% block cont %}

<script>

  window.addEventListener('load', function() {
    const selectElements = document.querySelectorAll('#user'); // Select all elements with ID "user"
    selectElements.forEach(function(selectElement) {
      selectElement.style.width = 'clamp(305px, 70vw, {{ (result * 16) + 191.61 + 64 }}px)';
    });
  });
  </script>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 100%;
        border: 1px solid #d8dee4;
        background: #f6f8fa;
        padding: 20px 80px 20px 80px;
        border-radius: 20px;
    }
        /* Apply CSS to the select element */
    #user {
        width: auto;
        white-space: normal; /* Allow text to wrap */
    }

    h1 {
        border-bottom: solid;
    }

    label {
        font-size: 0.9rem;
    }

    .item {
        padding-bottom: 10px;
    }

    select {
    font-size: 1.25rem;
        border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 3px 25px 3px 10px;
}

h1 {
padding-right: 65px;
padding-left: 65px;
}

#alignment {
    position: relative;
    bottom: 40px;
}

</style>
<style>

    #arrow {
    position: relative;
    top: 50px;
    right: 50px;
}
    #arrow svg {
        border: solid 2px #cfd3da;
        border-radius: 20px;
    }
    #arrow svg:hover {
    cursor: pointer;
    border: solid 2px #000000;
    background-color: rgba(134, 152, 155, 0.15);
    padding: 4px;
}
</style>

<div id="alignment">
<div id="arrow">
    <svg onclick='window.location.href = "http://127.0.0.1:5000/profile"' xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="m333.999-427.334 221.667 222.667-74.999 74-350-350L480-830l75.999 74.667-222 222H830v105.999H333.999Z"/></svg>
</div>
<h1>Asignacion de posiciones</h1>
<form method="POST">
  <div class="item">
    <label for="user">Usuarios: </label>
      <br />
    <select id="user" class="js-example-basic-single" name="user" required>
        <option value='--Seleccione un usuario--'>{{ largest_name }}Seleccione un usuario{{ largest_name }}</option>
    {% for i in range(non_admin_users|length) %}
        <option value="{{ roleless[i] }}">{{ non_admin_users[i] }}</option>
    {% endfor %}
    </select>
  </div>

  <div class="item">
    <label for="role">Roles: </label>
            <br />
    <select id="role" class="js-example-basic-single" name="role" required>
        <option value='------Seleccione un rol------'>------Seleccione un rol------</option>
        <option value="admin">Administrador</option>
        <option value="Editor">Editor</option>
        <option value="Administrador de inventario">Administrador de inventario</option>
        <option value="Supervisor">Supervisor</option>
    </select>
  </div>

      <button type="submit" name="submited" class="btn btn-primary">Continuar</button>
</form>
</div>
{% endblock %}

