{% extends "house.html" %} {% block title %}Inicio{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}





{% block cont %}
<link rel="stylesheet" href="../static/front_sc.css">

{{poster["button"]|safe}}

<div class="grid-container">

{% set length = poster["names"]|length %}
<div class="grid-container">
{% for i in range(length) %}
  <div class="grid-item">
    <a href="http://127.0.0.1:5000/posts/{{poster['id'][i]}}">
    <img id="carousel_imgs" src="data:image/png;base64, {{poster['img'][i][0]}}">

    <div class="coloring">
      <div class="Mirror"></div>
      <div class="wrapper">
                <p class="names">{{ poster["names"][i] }}</p>

        <div class="price_and_Cuant">
          <p><span style="font-size: 0.5rem; position: relative; bottom: 0.25rem;">US$</span>{{poster["price"][i]}}<span style="font-size: 0.5rem; position: relative; bottom: 0.25rem;">00</span></p>
          <p>{{ poster["cuant"][i] }} Unidades</p>
        </div>
      </div>
    </div>

    </a>
  </div>
    <br />
{% endfor %}
</div>
  <script>
      document.cookie = "check=; expires=Thu, 18 Dec 2014 12:00:00 UTC; path=/";
  </script>
{% endblock %}
