{% extends "house.html" %} {% block title %}Change{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}


{% block cont %}
<h1>HELL(o)</h1>
{{poster["button"]|safe}}

<style>
  #yaya {
    width: 20vw;
    aspect-ratio: 1/1;
  }
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.grid-item {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  height: auto; /* Adjusted property */
  width: auto;
  box-sizing: border-box;
}

.grid-item img {
  width: auto;
  height: auto;
}

.grid-item p {
  margin: 0;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
    #yaya {
    width: 75vw;
  }
}

</style>
<div class="grid-container">

  <br />
{% set length = poster["names"]|length %}
<div class="grid-container">
{% for i in range(length) %}
  <div class="grid-item">
    <a href="http://127.0.0.1:5000/posts/{{poster['id'][i]}}">
    <p>Item: {{ poster["names"][i] }}</p>
    <p>Picture: {{ poster["squares"][i][0][0] }}</p>
    <img id="yaya" src="data:image/png;base64, {{poster['img'][i][0]}}">
    <p>Price: {{poster["price"][i]}}</p>
    </a>
  </div>
    <br />
{% endfor %}
</div>
{% endblock %}
