{% extends "house.html" %} {% block title %}404 - Missing{% endblock %}


{% block cont %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    #que {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11.5rem;
    }
    p {
        font-family: 'Montserrat', sans-serif;
    }


</style>


<div id="que">
    <h1><b>404</b></h1>
    <p>UPS, PARECE QUE NO PUDIMOS ENCONTRAR TU PÁGINA</p>
    <button onclick="window.location.href = 'http://127.0.0.1:5000/';" type="button" class="btn btn-lg btn-dark">Inicio</button>

</div>
{% endblock %}
