{% extends "house.html" %} {% block title %}Configuración de Productos{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}

{% block cont %}
<link rel="stylesheet" href="../static/P_config_sc.css">



<div id="wrapper">
    <div id="alignment">
    <div id="arrow">
        <svg onclick='window.location.href = "http://127.0.0.1:5000/posts/{{num + 1}}"' xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="m333.999-427.334 221.667 222.667-74.999 74-350-350L480-830l75.999 74.667-222 222H830v105.999H333.999Z"/></svg>
    </div>
    <h1 id="announcement">EDITAR PRODUCTO</h1>

<div id="container">


<form method="POST" id="forum" enctype="multipart/form-data">
    {% if state == 'admin' or state == 'Editor' %}
  <div class="form-group">
      <label for="title" class="sub_title" style="margin: 0;">Titulo:</label>
    <input
      maxlength="30"
      minlength="2"
        value='{{poster["names"][num]}}'
      type="text"
      class="form-control input-two"
      id="title"
      name="title"
      placeholder="Introduzca el título"
    />
  </div>
    <label class="sub_title">Descripción:</label>
  <textarea class="form-control" placeholder="Introduzca una descripción" name="desc">{{poster["desc"][num]}}</textarea>
  <div class="twos" >
    <div class="form-group">
      <label for="price" class="sub_title">Precio:</label>
      <input
        type="number"
        min="0"
        max="2147483647"
        value='{{poster["price"][num]}}'
        class="form-control input-two"
        id="price"
        name="price"
        placeholder="Precio"
      />
    </div>
      {% if state == "admin" %}
        <div class="form-group">
            <label for="quantity" class="sub_title">Cantidad:</label>
          <input
            type="number"
            min="0"
            max="2147483647"
            class="form-control"
            id="quantity"
            name="quantity"
            value='{{poster["cuant"][num]}}'
            placeholder="Unidades"
          />
        </div>
      {% endif %}

  </div>
    <div class="twos" style="justify-content: flex-start;">
  <div>
    <label for="owner" class="sub_title">Vendedor: </label>
      <br />
    <select id="owner" name="owner">
        <option value='{{poster["owner"][num]}}'>{{poster["owner"][num]}}</option>
        {% if poster["owner"][num] != user["name"] %}
            <option value='{{user["name"]}}'>{{user["name"]}}</option>
        {% endif %}

        {% for i in poster["unq_ow"] %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
  </div>


  <div>
    <label for="categoria" class="sub_title">Categorias:</label>
      <br />
    <select id="categoria" name="categoria">
        {% set cate_opt = ['Electrónicos', 'Computadoras', 'Smart Home', 'Arte y Artesanías', 'Automotriz', 'Bebé', 'Belleza y Cuidado Personal', 'Hogar y Cocina', 'Salud y Hogar', 'Industrial y Científico', 'Equipaje', 'Películas y Televisión', 'Software', 'Deportes y Aire Libre', 'Herramientas y Mejoramiento del Hogar', 'Juguetes y juegos', 'Videojuegos', 'Moda y vestimenta' ] %}
        <option value='{{poster["cate"][num]}}' selected>{{poster["cate"][num]}}</option>
        {% for option in cate_opt %}
            {% if option != poster["cate"][num] %}
                <option value="{{option}}">{{option}}</option>
            {% endif %}
        {% endfor %}
    </select>
  </div>
        </div>
    <div class="form-group">
        <input type="file" accept="image/*" multiple id="image-input"  name="photos">
            <div id="preview-container"></div>
            <script>
            // Get reference to the button and the container
            const button = document.getElementById('image-input');
            const container = document.getElementById("preview-container");

            // Add click event listener to the button
            button.addEventListener("click", function() {
              // Remove all child elements from the container
              while (container.firstChild) {
                container.removeChild(container.firstChild);
              }
            });

              const input = document.getElementById('image-input');
              const previewContainer = document.getElementById('preview-container');
              input.addEventListener('change', handleFiles);

              function handleFiles() {
                const files = Array.from(input.files);
                files.forEach(file => {
                  const reader = new FileReader();
                  reader.onload = function(e) {
                    const image = document.createElement('img');
                    image.src = e.target.result;
                    image.classList.add('preview-image');
                    previewContainer.appendChild(image);
                  };
                  reader.readAsDataURL(file);
                });
              }
            </script>

            <style>
                .preview-image {
                max-width: 200px;
                max-height: 200px;
                margin-right: 10px;
              }
            </style>

  </div>
  {% endif %}
  {% if state == "Administrador de inventario" %}

    <style>
        #alignment {
            max-width: 600px;
            width: 100%;
        }

        #buo {
            padding-bottom: 1rem;
        }
    </style>

    <div class="form-group">
            <label for="quantity" class="sub_title">Cantidad:</label>
      <input
        type="number"
        min="0"
        max="2147483647"
        class="form-control"
        value='{{poster["cuant"][num]}}'
        id="quantity"
        name="quantity"
        placeholder="quantity"
      />
    </div>
      {% endif %}
    <div id="buo">
  <button type="submit" name="subby" class="btn btn-primary">Continuar</button>
    {% if state == 'admin' %}
      <button type="submit" name="del" class="btn btn-danger">ELIMINAR ENTRADA</button>
    {% endif %}
    </div>

</form>
</div>
</div>
</div>

<script>
    document.cookie = "check=; expires=Thu, 18 Dec 2014 12:00:00 UTC; path=/";
    document.cookie = "cf_check=; expires=Thu, 18 Dec 2014 12:00:00 UTC; path=/";
</script>
{% endblock %}
