{% extends "house.html" %} {% block title %}Contraseña enviada{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}



{% block cont %}
<link rel="stylesheet" href="../static/password_send_sc.css">


<div id="alignment">
<div id="arrow">
    <svg onclick='window.location.href = "http://127.0.0.1:5000/login"' xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="m333.999-427.334 221.667 222.667-74.999 74-350-350L480-830l75.999 74.667-222 222H830v105.999H333.999Z"/></svg>
</div>
<h1>Recuperar Contraseña</h1>
<form method="POST" id="forum">
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      type="email"
      minlength='5'
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Continuar</button>
  <br />

</form>
</div>
{% endblock %}
