{% extends "house.html" %} {% block title %}Recuperación de contraseña{% endblock %}


{% block cont %}
<style>

#passw_wrapper {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    max-width: 600px;
    width: 100%;
    border: 1px solid #d8dee4;
    background: #f6f8fa;
    padding: 20px 70px 20px 70px;
    border-radius: 20px;
}

h1 {
    border-bottom: solid;
      margin-top: 25px;

}

label {
    font-size: 0.9rem;
}

.item {
    padding-bottom: 10px;
}

select {
    font-size: 1.25rem;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 3px 25px 3px 10px;
}

h1 {
    padding-right: 65px;
    padding-left: 65px;
}

#alignment {
    position: relative;
    bottom: 40px;
}
#passw_wrapper button {
    margin: 10px 0 25px 0 !important;
}

</style>

<div id="alignment">
  <h1>Nueva Contraseña</h1>
  <form method="POST" id="forum">
  <label for="password1">Contraseña</label>
    <br />
  <div class="form-group" id="passw_wrapper">
    <input
      type="password"
      minlength='8'
      class="form-control"
      id="password1"
      name="password1"
      size="28"
      placeholder="Introduzca su nueva contraseña"
    />
<button type="button" id="show-password">Show</button>
<script>
  const passwordInput = document.getElementById('password1');
  const showPasswordButton = document.getElementById('show-password');

  showPasswordButton.addEventListener('click', function(event) {
    event.preventDefault();
    passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
  });
</script>
  </div>
    <br />
      <button type="submit" name="edit" value="Upload" class="btn btn-primary">Continuar</button>
</form>
</div>
{% endblock %}
