{% extends "house.html" %} {% block title %}Login{% endblock %}


{% block cont %}
<h1>RECUPERACION DE LA CONREASÑA</h1>


<form method="POST" id="forum">
  <h3 align="center">Correo</h3>
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Continuar</button>
  <br />

</form>
{% endblock %}
