{% extends "house.html" %} {% block title %}Producto{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}
{% block cont %}
<link rel="stylesheet" href="../static/product_sc.css">



<script>
  var indexVaulue =1;
  showImg(indexVaulue);
  function btm_slide(e){showImg(indexVaulue = e);}
  function side_slide(e){showImg(indexVaulue += e);}
  function showImg(e){
    var i;
    const img = document.querySelectorAll('img.carousel_imgs');
    const sliders = document.querySelectorAll('.btm-sliders span');
    if (e>img.length){indexVaulue = 1}
    if (e<1){indexVaulue = img.length}
    for(i=0; i <img.length; i++){
      img[i].style.display = "none";
    }
    for(i=0; i <sliders.length; i++){
      sliders[i].style.background = "rgba(0,0,0,0.35)";
    }
      img[indexVaulue-1].style.display = "block";
      sliders[indexVaulue-1].style.background = "#dfdfdf";

  }

</script>
{{poster["ad_btm"]|safe}}
{{poster["fadmin_btm"]|safe}}
{{poster["ed_btm"]|safe}}
<div id="cuerpo">
  <div class="content">
    {% if poster['img'][num]|length > 1 %}
    <div class="images">
    {% for i in range(0,poster['img'][num]|length) %}
      <img class="carousel_imgs" id="carousel_imgs{{i}}" src="data:image/png;base64, {{poster['img'][num][i]}}">
    {% endfor %}
          </div>

      <div onclick="side_slide(-1)" class="slide left">
        <span class="left_btn"><b><</b></span>
      </div>
      <div onclick="side_slide(1)" class="slide right">
        <span class="right_btn"><b>></b></span>
      </div>
      <div class="btm-sliders">
        {% for i in range(0,poster['img'][num]|length) %}
          <span onclick="btm_slide( {{i}}+1 )"></span>
        {% endfor %}
      </div>
        {% else %}
        <div class="images">
      <img src="data:image/png;base64, {{poster['img'][num][0]}}">
        </div>
    {% endif %}
  </div>
  <div id="desc_area">
    <h1>{{poster["names"][num]}}</h1>
    <p>{{poster["cate"][num]}}</p>
    <h3>${{poster["price"][num]}}</h3>
    <p>Vendedor: {{poster["owner"][num]}}</p>
    {% if poster["cuant"][num] != 0 %}
    <p>Inventario: {{poster["cuant"][num]}}</p>
    {% else %}
    <p>Inventario: Unidades agotadas</p>
    {% endif %}
    <div id="desc">{{poster["desc"][num]|safe}}</div>

  </div>
</div>

<script>
    document.cookie = "check=; expires=Thu, 18 Dec 2014 12:00:00 UTC; path=/";
</script>
{% endblock %}