{% extends "house.html" %} {% block title %}Change{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}
{% block cont %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  @media (max-width: 770px) {
    #cuerpo {
      justify-content: left;
      flex-wrap: wrap;
    }
    .content {
      min-width: 200px !important;
      min-height: 250px !important;
      height: 450px !important;
    }
    #teto {
        padding-left: 0;
    }

  }

  h1 {
    font-family: 'Poppins', sans-serif;
  }


  .left {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  }
  .llleft {
  position: relative;
  bottom: 0.16rem;
  }
  .right {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .rrright {
  position: relative;
  bottom: 0.16rem;
  }

  p, li {
    font-family: 'Inter', sans-serif;
  }

  .yaya {
    width: 100%;
    height: auto;
  }

  .content {
    /*put flex-wrap: wrap withe media later to #cuerpo */
    height: 650px;
    width: 650px;
    min-width: 600px;
    overflow: hidden;
    position: relative;
  }
  .content .images {
    height: 100%;
    width: 100%;
  }
  .images img{
    height: 100%;
    width: 100%;
  }
  .btm-sliders {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
  }
  .btm-sliders span{
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;

  }
  ul, ol {
      padding-left: 16px !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
  }

  .content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 85px;
    width: 45px;
    border: 2px solid white;
    background: rgba(0,0,0,0.35);

    cursor: pointer;

  }
  .content .slide:hover{
    background: rgba(255,255,255,0.3);
  }
  /* -Arrow */
  .content .slide span{
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

    .content .slide:hover span b{
    color: white;
    text-shadow: 0 0 1.5rem #000;

  }

  .slide span{
    font-size: 35px;
    color: white;
    line-height: 41px;
  }
  .content .right{
    right: 0;
  }



#cuerpo {
  display: flex;
  justify-content: left;
}

#desc {
  text-align: justify;
  }

#teto {
  padding-left: 35px;
  text-align: left;
  display: block;
  word-break: break-word;
}

#icon_full {
  display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


button {
  font-size: 2rem !important;
  font-weight: bold !important;
  font-family: 'Quicksand', sans-serif !important;
}
form {
  display: block !important;
}

form span {
  position: relative;
  top: 3px;
}

div.container form#tbh button.btn-primary {
  margin-bottom: 12px;
  padding-right: 135px ;
  padding-left: 25px ;
  border-radius: 10px;
  color: #000;
  background-color: #e3e3e3 ;
  border-color: #cbc9c9 ;
}
div.container form#tbh button.btn-primary:hover {
  color: #000;
  background-color: rgba(227, 227, 227, 0.70) ;
  border-color: #cbc9c9 ;
}

form button:hover #icon_full {
  display: inline;
}

form button:hover #icon_empty {
  display: none;
}

</style>




<script>
  var indexVaulue =1;
  showImg(indexVaulue);
  function btm_slide(e){showImg(indexVaulue = e);}
  function side_slide(e){showImg(indexVaulue += e);}
  function showImg(e){
    var i;
    const img = document.querySelectorAll('img.yaya');
    const sliders = document.querySelectorAll('.btm-sliders span');
    if (e>img.length){indexVaulue = 1}
    if (e<1){indexVaulue = img.length}
    for(i=0; i <img.length; i++){
      img[i].style.display = "none";
    }
    for(i=0; i <sliders.length; i++){
      sliders[i].style.background = "rgba(0,0,0,0.35)";
    }
      img[indexVaulue-1].style.display = "block";
      sliders[indexVaulue-1].style.background = "#dfdfdf";

  }

</script>
{{poster["ad_btm"]|safe}}
{{poster["fadmin_btm"]|safe}}
{{poster["ed_btm"]|safe}}
<div id="cuerpo">
  <div class="content">
    {% if poster['img'][num]|length > 1 %}
    <div class="images">
    {% for i in range(0,poster['img'][num]|length) %}
      <img class="yaya" id="yaya{{i}}" src="data:image/png;base64, {{poster['img'][num][i]}}">
    {% endfor %}
          </div>

      <div onclick="side_slide(-1)" class="slide left">
        <span class="llleft"><b><</b></span>
      </div>
      <div onclick="side_slide(1)" class="slide right">
        <span class="rrright"><b>></b></span>
      </div>
      <div class="btm-sliders">
        {% for i in range(0,poster['img'][num]|length) %}
          <span onclick="btm_slide( {{i}}+1 )"></span>
        {% endfor %}
      </div>
        {% else %}
        <div class="images">
      <img src="data:image/png;base64, {{poster['img'][num][0]}}">
        </div>
    {% endif %}
  </div>
  <div id="teto">
    <h1>{{poster["names"][num]}}</h1>
    <p>{{poster["cate"][num]}}</p>
    <h3>${{poster["price"][num]}}</h3>
    <p>Vendedor: {{poster["owner"][num]}}</p>
    {% if poster["cuant"][num] != 0 %}
    <p>Inventario: {{poster["cuant"][num]}}</p>
    {% else %}
    <p>Inventario: Unidades agotadas</p>
    {% endif %}
    <div id="desc">{{poster["desc"][num]|safe}}</div>

  </div>
</div>

<script>
    document.cookie = "check=; expires=Thu, 18 Dec 2014 12:00:00 UTC; path=/";
</script>
{% endblock %}