{% extends "house.html" %} {% block title %}Perfil del usuario{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}


{% block cont %}
<link rel="stylesheet" href="../static/profile_sc.css">

<div id="sidebar">
  <div id="side">
{{code[2]|safe}}
    <div id="Text-container">
<h5>Rol: {{user[0][2]}}</h5>
    </div>
  </div>


<form method="POST" enctype="multipart/form-data" ID="ffa">


  <div class="form-group">
    <label for="email">Correo electrónico:</label>
    <input
      minlength='5'
      value="{{user[0][1]}}"
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Introduzca su correo"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Nombre:</label>
    <input
      minlength='3'
      value="{{user[0][0]}}"
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Introduzca su nombre"
    />
  </div>
  <div class="form-group">
    <label for="lastName">Apellido:</label>
    <input
      minlength='3'
      value="{{user[0][3]}}"
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Introduzca su apellido"
    />
  </div>

  <label for="password1">Contraseña:</label>
  <br />
  <div class="form-group" id="passw_wrapper">
    <input
      minlength='8'
      value="{{user[0][4]}}"
      type="password"
      size="35"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Introduzca su contraseña"
    />
<button type="button" style="margin-right: 0; !important;" id="show-password">Mostrar</button>
<script>
  const passwordInput = document.getElementById('password1');
  const showPasswordButton = document.getElementById('show-password');

  showPasswordButton.addEventListener('click', function(event) {
    event.preventDefault();
    passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
  });
</script>

  </div>

  <div class="form-group">
    <label for="picture">Suba su foto de perfil:</label>
    <br />
        <input type="file" name="image" id="image" onchange="handleFileSelection(event)" accept="image/*">
        <img id="preview">

<script>
function handleFileSelection(event) {
    const input = event.target;
    if (input.files.length > 0) {
        const file = input.files[0];
        const maxSize = 5 * 1024 * 1024; // 5MB maximum file size

        if (file.size <= maxSize) {
            const reader = new FileReader();
            reader.onload = function() {
                let preview = document.getElementById('preview');
                preview.src = reader.result;
            };
            reader.readAsDataURL(file);
        } else {
            input.value = '';
            alert("Imagen demasiado grande")

            const reader = new FileReader();
            reader.onload = function() {
                let preview = document.getElementById('preview');
                preview.src = '';
            };
            reader.readAsDataURL(file);

        }
    }
}
</script>

  </div>


  <br />
  <div id="couple_Of_Buttons">
  <button type="submit" name="edit" value="Upload" class="btn btn-primary">Continuar</button>
  <button type="submit" name="delete" value="Upload" class="btn btn-danger">ELIMINAR PERFIL</button>
  </div>
  {% if user[0][2] == "admin" %}
    <div id="Google_btn" onclick="window.location.href='http://127.0.0.1:5000/assignment'">
      <div id="svg-cont">
        <svg id="icon_empty" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M400-485q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM80-164v-94q0-35 17.5-63t50.5-43q72-32 133.5-46T400-424h23q-6 14-9 27.5t-5 32.5h-9q-58 0-113.5 12.5T172-310q-16 8-24 22.5t-8 29.5v34h269q5 18 12 32.5t17 27.5H80Zm587 44-10-66q-17-5-34.5-14.5T593-222l-55 12-25-42 47-44q-2-9-2-25t2-25l-47-44 25-42 55 12q12-12 29.5-21.5T657-456l10-66h54l10 66q17 5 34.5 14.5T795-420l55-12 25 42-47 44q2 9 2 25t-2 25l47 44-25 42-55-12q-12 12-29.5 21.5T731-186l-10 66h-54Zm27-121q36 0 58-22t22-58q0-36-22-58t-58-22q-36 0-58 22t-22 58q0 36 22 58t58 22ZM400-545q39 0 64.5-25.5T490-635q0-39-25.5-64.5T400-725q-39 0-64.5 25.5T310-635q0 39 25.5 64.5T400-545Zm0-90Zm9 411Z"/></svg>
        <svg id="icon_full" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m667-120-10-66q-17-5-34.5-14.5T593-222l-55 12-25-42 47-44q-2-9-2-25t2-25l-47-44 25-42 55 12q12-12 29.5-21.5T657-456l10-66h54l10 66q17 5 34.5 14.5T795-420l55-12 25 42-47 44q2 9 2 25t-2 25l47 44-25 42-55-12q-12 12-29.5 21.5T731-186l-10 66h-54ZM80-164v-94q0-35 17.5-63t50.5-43q72-32 133.5-46T400-424h23q-21 51-19 134.5T438-164H80Zm614-77q36 0 58-22t22-58q0-36-22-58t-58-22q-36 0-58 22t-22 58q0 36 22 58t58 22ZM400-485q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42Z"/></svg>
      </div>
        <p>Asignacion de Roles</p>
      </div>
  {% endif %}
</form>
</div>

{% endblock %}


