{% extends "house.html" %} {% block title %}Registrarse{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}


{% block cont %}
<link rel="stylesheet" href="../static/sign-up_sc.css">


<div id="wrapper">
<div id="container">

<form method="POST" enctype="multipart/form-data" ID="forum">
  <h3 align="center" class="space"><b>Registrarme</b></h3>
  <div class="form-group">
    <label for="email" class="space">Correo electrónico</label>
    <input
      type="email"
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      minlength='5'
      class="form-control space"
      id="email"
      name="email"
      placeholder="Introduzca su correo"
      required
    />
  </div>
  <div class="form-group">
    <label for="firstName" class="space">Nombre</label>
    <input
      required
      minlength='3'
      type="text"
      class="form-control space"
      id="firstName"
      name="firstName"
      placeholder="Introduzca su nombre"
    />
  </div>
  <div class="form-group" >
    <label for="lastName" class="space">Apellido</label>
    <input
      required
      type="text"
      minlength='3'
      class="form-control space"
      id="lastName"
      name="lastName"
      placeholder="Introduzca su apellido"
    />
  </div>

  <div class="form-group">
    <label for="password1" class="space">Contraseña</label>
    <input
      required
      type="password"
      minlength='8'
      class="form-control space"
      id="password1"
      name="password1"
      placeholder="Introduzca su contraseña"
    />
  </div>
  <div class="form-group">
    <label for="password2" class="space">Confirmación de contraseña</label>
    <input
      required
      type="password"
      minlength='8'
      class="form-control space"
      id="password2"
      name="password2"
      placeholder="Confirme su contraseña"
    />
      <p id="password-match-message"></p>
  </div>
  <div class="form-group">
    <label for="picture" class="space">Suba su foto de perfil</label>
        <input type="file" name="image" id="image" onchange="handleFileSelection(event)" accept="image/*">
        <img id="preview">


<script>
function handleFileSelection(event) {
    const input = event.target;
    if (input.files.length > 0) {
        const file = input.files[0];
        const maxSize = 5 * 1024 * 1024; // 5MB maximum file size

        if (file.size <= maxSize) {
            const reader = new FileReader();
            reader.onload = function() {
                let preview = document.getElementById('preview');
                preview.src = reader.result;
            };
            reader.readAsDataURL(file);
        } else {
            input.value = '';
            alert("Imagen demasiado grande")

            const reader = new FileReader();
            reader.onload = function() {
                let preview = document.getElementById('preview');
                preview.src = '';
            };
            reader.readAsDataURL(file);

        }
    }
}
</script>

  </div>

  <div class="space">
          <label for="day" class="space" style="margin-top: 10px">Fecha de nacimiento</label>
      <div id="age_selector">
    <select id="day" name="day" required>
          <option value="" disabled selected>Días</option>
        {% for day in range(1, 32) %}
            <option value="{{day}}">{{day}}</option>
        {% endfor %}
    </select>
    <label for="month"></label>
    <select id="month" name="month" required>
        <option value="" disabled selected>Meses</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>
    <label for="year"></label>
    <select id="year" name="year" required>
        <option value="" disabled selected>Años</option>
        {% for year in y %}
            <option value="{{year}}">{{year}}</option>
        {% endfor %}
    </select>

    <script>
    const daySelect = document.getElementById('day');
    const monthSelect = document.getElementById('month');
    const yearSelect = document.getElementById('year');

    // Populate the day, month, and year select elements with appropriate options.
    // You can use a loop or other methods to generate options.

    // Add an event listener to validate and adjust the selected date when any of the selects change.
    daySelect.addEventListener('change', validateAndAdjustDate);
    monthSelect.addEventListener('change', validateAndAdjustDate);
    yearSelect.addEventListener('change', validateAndAdjustDate);

    function validateAndAdjustDate() {
      const selectedDay = parseInt(daySelect.value, 10);
      const selectedMonth = parseInt(monthSelect.value, 10);
      const selectedYear = parseInt(yearSelect.value, 10);

      // Adjust the selected day based on the selected month
      if (selectedMonth === 2 && selectedDay > 28) {
        // February, automatically set to 28
        daySelect.value = '28';
      } else if ((selectedMonth === 4 || selectedMonth === 6 || selectedMonth === 9 || selectedMonth === 11) && selectedDay > 30) {
        // April, June, September, November, automatically set to 30
        daySelect.value = '30';
      }
    }
    </script>

  </div>
  </div>

  <br />
  <button type="submit" value="Upload" class="btn btn-primary space">Continuar</button>
</form>

<div id="Google_btn" onclick="window.location.href='http://127.0.0.1:5000/OAuth_redirect'">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" height="24" width="24"><path fill="#4285F4" d="M20.822 12.207c0-.612-.05-1.227-.155-1.829h-8.49v3.466h4.862a4.166 4.166 0 01-1.8 2.735v2.248h2.901c1.703-1.567 2.682-3.882 2.682-6.62z"></path><path fill="#34A853" d="M12.178 21c2.427 0 4.474-.797 5.965-2.173l-2.9-2.248c-.807.549-1.848.86-3.062.86-2.348 0-4.339-1.584-5.053-3.714H4.135v2.318A9 9 0 0012.178 21z"></path><path fill="#FBBC04" d="M7.125 13.725a5.39 5.39 0 010-3.446V7.961h-2.99a9.007 9.007 0 000 8.082l2.99-2.318z"></path><path fill="#EA4335" d="M12.178 6.562a4.89 4.89 0 013.452 1.35l2.57-2.57A8.65 8.65 0 0012.178 3a8.998 8.998 0 00-8.043 4.96l2.99 2.318c.71-2.133 2.705-3.717 5.053-3.717z"></path></svg>
    <p>O continúe con Google</p>
</div>


</div>
</div>

<script>
// Get references to the password input fields and the message element
var password1Input = document.getElementById('password1');
var password2Input = document.getElementById('password2');
var passwordMatchMessage = document.getElementById('password-match-message');

// Add an input event listener to the second password input
password2Input.addEventListener('input', function () {
    var password1 = password1Input.value;
    var password2 = password2Input.value;

    if (password1 === "" || password2 === "") {
        passwordMatchMessage.textContent = '';
    } else {
        if (password1 === password2) {
            passwordMatchMessage.textContent = 'Las contraseñas coinciden.';
            passwordMatchMessage.style.color = 'green';
        } else {
            passwordMatchMessage.textContent = 'Las contraseñas no coinciden.';
            passwordMatchMessage.style.color = 'red';
        }
    }
});

password1Input.addEventListener('input', function () {
    var password1 = password1Input.value;
    var password2 = password2Input.value;

    if (password1 === "" || password2 === "") {
        passwordMatchMessage.textContent = '';
    } else {
        if (password1 === password2) {
            passwordMatchMessage.textContent = 'Las contraseñas coinciden.';
            passwordMatchMessage.style.color = 'green';
        } else {
            passwordMatchMessage.textContent = 'Las contraseñas no coinciden.';
            passwordMatchMessage.style.color = 'red';
        }
    }
});

</script>

{% endblock %}
