{% extends "house.html" %} {% block title %}Change{% endblock %}
{% block log %}{{code[0]|safe}}{% endblock %}
{% block ini %}{{code[-1]|safe}}{% endblock %}
{% block reg %}{{code[-2]|safe}}{% endblock %}
{% block pfp %}{{code[1]|safe}}{% endblock %}

{% block cont %}
<h1>VENDER PRODUCTO</h1>

<style>
  #price {
  }
  #twos {
      display: flex;
  }
  .input-two {
  flex: 1;
  }
</style>


<form method="POST" id="forum" enctype="multipart/form-data">
  <div class="form-group">
    <input
      type="text"
      class="form-control input-two"
      id="title"
      name="title"
      placeholder="Introduzca el título"
    />
  </div>
  <textarea class="form-control" placeholder="Introduzca una descripción" name="desc"></textarea>
  <div id="twos">
    <div class="form-group">
      <label for="price"></label>
      <input
        type="number"
        class="form-control input-two"
        id="price"
        name="price"
        placeholder="Precio"
      />
    </div>
    <div class="form-group">
      <label for="quantity"></label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        name="quantity"
        placeholder="Unidades"
      />
    </div>
  </div>
  <div>
    <label for="categoria">Categorias</label>
    <select id="categoria" name="categoria">
        <option value="Electrónicos">Electrónicos</option>
        <option value="Computadoras">Computadoras</option>
        <option value="Smart Home">Smart Home</option>
        <option value="Arte y Artesanías">Arte y Artesanías</option>
        <option value="Automotriz">Automotriz</option>
        <option value="Bebé">Bebé</option>
        <option value="Belleza y Cuidado Personal">Belleza y Cuidado Personal</option>
        <option value="Hogar y Cocina">Hogar y Cocina</option>
        <option value="Salud y Hogar">Salud y Hogar</option>
        <option value="Industrial y Científico">Industrial y Científico</option>
        <option value="Equipaje">Equipaje</option>
        <option value="Películas y Televisión">Películas y Televisión</option>
        <option value="Software">Software</option>
        <option value="Deportes y Aire Libre">Deportes y Aire Libre</option>
        <option value="Herramientas y Mejoramiento del Hogar">Herramientas y Mejoramiento del Hogar</option>
        <option value="Juguetes y juegos">Juguetes y juegos</option>
        <option value="Videojuegos">Videojuegos</option>
        <option value="Moda y vestimenta">Moda y vestimenta</option>
    </select>
  </div>
    <div class="form-group">
        <input type="file" accept="image/*" multiple id="image-input"  name="photos">
            <div id="preview-container"></div>
            <script>
                // Get reference to the button and the container
            const button = document.getElementById('image-input');
            const container = document.getElementById("preview-container");

            // Add click event listener to the button
            button.addEventListener("click", function() {
              // Remove all child elements from the container
              while (container.firstChild) {
                container.removeChild(container.firstChild);
              }
            });




              const input = document.getElementById('image-input');
              const previewContainer = document.getElementById('preview-container');
              input.addEventListener('change', handleFiles);

              function handleFiles() {
                const files = Array.from(input.files);
                files.forEach(file => {
                  const reader = new FileReader();
                  reader.onload = function(e) {
                    const image = document.createElement('img');
                    image.src = e.target.result;
                    image.classList.add('preview-image');
                    previewContainer.appendChild(image);
                  };
                  reader.readAsDataURL(file);
                });
              }
            </script>

            <style>
                .preview-image {
                max-width: 200px;
                max-height: 200px;
                margin-right: 10px;
              }
            </style>

  </div>
  <br />
  <button type="submit" name="venta" class="btn btn-primary">Continuar</button>
  <br />
</form>
{% endblock %}
