
.link {
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {

    .closure:hover .underline {
        width: 40% ;
        transition: width 0.2s ease-out;
}
}

@media (min-width: 992px) {

    .closure:hover .underline {
        width: 100% ;
        transition: width 0.2s ease-out;
}
}

.underline {
    border-bottom: solid #c4c5c6;
    width: 0;
    transition: width 0.5s ease-in;
}



.link p{
     margin-right: 10px;
}



/* Styles for browsers that support custom scrollbars */
@supports (-webkit-appearance: none) {
  ::-webkit-scrollbar {
    width: 11px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888888cf;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer !important;
  }

  ::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.09);
  }

  ::-webkit-scrollbar-track:inactive {
    background: #ddd;
  }
}




.link img {
    height: 60px;
}

body {
        background-color: hsl(159 74% 99% / 1) !important;
}

#ffa .form-control {
    color: black;
    border: 1px solid black;

}

#forum .form-control {
    color: black;
    border: 1px solid #bdbdbd;

}

.navbar {
    margin-bottom: 10px;
}

#desc {
    text-align: end;
}

#btn_wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 690px) {
#btn_wrapper {
    justify-content: center !important;
}
}

.bg-darker {
    background-color: #1c1f22!important;
}

#profile_picture {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}
#sidebar input {
  flex-grow: 1;
}
#sidebar form {
    flex-wrap: wrap;
    padding-left: 10px;
    border-left: black solid;

}

#sidebar {
  display: flex;
  flex-wrap: wrap;
}

#passw_wrapper {
    display: inline-flex;
    align-items: center;
}
#passw_wrapper button {
    margin: 0.5rem;
}
