@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


#forum {
  margin-bottom: 0.7rem;
  padding-bottom: 1rem;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#preview{
    width: 50px;
}
#container {
    max-width: 600px;
    width: 100%;
    border: 1px solid #d8dee4;
    background: #f6f8fa;
    padding: 20px 100px 20px 100px;
    border-radius: 20px;
}

.space {
    margin-top: 0;
}

.space select {
    font-size: 1.25rem;
        border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 3px 25px 3px 10px;
}


label.space {
  font-size: 0.9rem;
}

#age_selector {
    display: flex;
    justify-content: space-between;
}

button.space {
  width: 100%;
  margin-top:50px;
}


input.space{
  margin-top:1px;
  font-size: 1.3rem;
  padding: 25px 10px 25px 10px;
  background-color: #fff;
  color: black;
}


h3 {
  font-size: 3rem;

}

#Google_btn {
    background-color: #fafcfe;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius:35px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#Google_btn:hover {
    cursor: pointer;
    background-color: #eaecee
}
#Google_btn svg {
    margin-left: 20px;
}
#Google_btn p {
    position: relative;
    top: 8px;
    font-weight: bold;
    margin-left: 35px;
    font-family: 'Poppins', sans-serif;
}


